.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.page-bg {
  background-color: #000;
  background-size: cover;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}

.particle-1 {
  -webkit-animation: animParticle 60s linear infinite;
  animation: animParticle 60s linear infinite;
  box-shadow: 0px 0px #fff, 663px 2217px #fff, 1167px 1605px #fff,
    174px 1395px #fff, 181px 1287px #fff, 956px 2517px #fff, 2018px 1791px #fff,
    301px 1100px #fff, 1845px 36px #fff, 897px 473px #fff, 539px 1517px #fff,
    1610px 488px #fff, 2172px 1446px #fff, 2366px 1690px #fff, 941px 2224px #fff,
    1491px 1647px #fff, 1364px 362px #fff, 567px 738px #fff, 270px 1426px #fff,
    2288px 2209px #fff, 847px 1986px #fff, 1173px 2013px #fff, 821px 2113px #fff,
    713px 405px #fff, 353px 86px #fff, 1042px 1994px #fff, 62px 1063px #fff,
    18px 1951px #fff, 2496px 1602px #fff, 890px 765px #fff, 1953px 1316px #fff,
    1355px 1768px #fff, 1686px 2439px #fff, 2266px 473px #fff,
    1238px 2169px #fff, 205px 2407px #fff, 2501px 2324px #fff,
    1901px 2310px #fff, 2039px 1411px #fff, 432px 1861px #fff,
    1645px 1402px #fff, 1378px 2045px #fff, 2402px 537px #fff, 521px 2368px #fff,
    759px 2478px #fff, 473px 518px #fff, 397px 89px #fff, 1190px 706px #fff,
    1614px 1793px #fff, 2399px 1646px #fff, 1757px 774px #fff, 383px 547px #fff,
    2354px 2206px #fff, 889px 2246px #fff, 995px 1849px #fff, 35px 811px #fff,
    1608px 2157px #fff, 620px 1091px #fff, 1292px 2309px #fff, 1325px 467px #fff,
    260px 1528px #fff, 2501px 1780px #fff, 2027px 237px #fff, 23px 1658px #fff,
    1838px 886px #fff, 1920px 1188px #fff, 2052px 60px #fff, 422px 1273px #fff,
    2481px 1887px #fff, 741px 2034px #fff, 1685px 7px #fff, 1606px 1051px #fff,
    476px 1501px #fff, 446px 2175px #fff, 2372px 14px #fff, 2006px 1996px #fff,
    2496px 227px #fff, 1927px 1574px #fff, 313px 1163px #fff, 600px 2340px #fff,
    2370px 2119px #fff, 1746px 56px #fff, 2040px 197px #fff, 1787px 2372px #fff,
    607px 2500px #fff, 1338px 399px #fff, 1328px 71px #fff, 713px 956px #fff,
    503px 965px #fff, 976px 794px #fff, 2011px 1123px #fff, 1981px 1655px #fff,
    406px 65px #fff, 2286px 2342px #fff, 743px 2325px #fff, 1251px 1794px #fff,
    2408px 2019px #fff, 2224px 2200px #fff, 603px 771px #fff, 1360px 920px #fff,
    1924px 1737px #fff, 2067px 1596px #fff, 1491px 505px #fff, 206px 1272px #fff,
    1736px 1366px #fff, 1751px 1176px #fff, 2228px 406px #fff,
    2433px 2205px #fff, 197px 676px #fff, 1853px 1626px #fff, 657px 1927px #fff,
    2361px 948px #fff, 2528px 527px #fff, 1685px 436px #fff, 2163px 280px #fff,
    1016px 211px #fff, 956px 2051px #fff, 1780px 2180px #fff, 438px 290px #fff,
    2422px 1383px #fff, 1961px 19px #fff, 310px 1157px #fff, 2218px 1446px #fff,
    957px 2539px #fff, 1318px 982px #fff, 2102px 1742px #fff, 211px 551px #fff,
    843px 517px #fff, 18px 118px #fff, 2465px 2210px #fff, 614px 147px #fff,
    1834px 139px #fff, 1986px 1434px #fff, 2526px 116px #fff, 620px 1010px #fff,
    1970px 1537px #fff, 2461px 2520px #fff, 577px 257px #fff, 1643px 1463px #fff,
    384px 1437px #fff, 4px 1716px #fff, 160px 959px #fff, 414px 1568px #fff,
    943px 75px #fff, 2182px 1889px #fff, 908px 822px #fff, 798px 1795px #fff,
    365px 2196px #fff, 1574px 550px #fff, 1833px 2405px #fff, 1002px 2188px #fff,
    616px 2355px #fff, 607px 1771px #fff, 308px 2229px #fff, 2260px 945px #fff,
    847px 64px #fff, 2510px 116px #fff, 1372px 1084px #fff, 2029px 2320px #fff,
    1166px 2358px #fff, 2158px 1586px #fff, 1967px 1708px #fff,
    1638px 1579px #fff, 2275px 214px #fff, 386px 1851px #fff, 2317px 603px #fff,
    165px 163px #fff, 1741px 203px #fff, 2000px 912px #fff, 325px 2511px #fff,
    96px 5px #fff, 513px 828px #fff, 1413px 2442px #fff, 852px 361px #fff,
    844px 1904px #fff, 864px 2060px #fff, 2529px 2039px #fff, 178px 1931px #fff,
    2311px 1638px #fff, 1458px 2197px #fff, 572px 1583px #fff, 935px 1213px #fff,
    1805px 1034px #fff, 1620px 767px #fff, 1874px 2099px #fff,
    2231px 2393px #fff, 2180px 182px #fff, 203px 501px #fff, 139px 52px #fff,
    1955px 820px #fff, 1911px 656px #fff, 2457px 2179px #fff, 1184px 619px #fff,
    1094px 833px #fff, 237px 1203px #fff, 1717px 2430px #fff, 94px 2052px #fff,
    2040px 14px #fff, 2459px 1615px #fff, 281px 1307px #fff, 2191px 2413px #fff,
    2014px 2534px #fff, 882px 1834px #fff, 1773px 2334px #fff, 224px 1699px #fff,
    1736px 2464px #fff, 2300px 2443px #fff, 1387px 16px #fff, 434px 2381px #fff,
    721px 811px #fff, 142px 253px #fff, 148px 1853px #fff, 1461px 68px #fff,
    325px 291px #fff, 1994px 1537px #fff, 434px 526px #fff, 2344px 2040px #fff,
    1235px 2158px #fff, 1778px 1741px #fff, 745px 413px #fff, 1563px 1032px #fff,
    1201px 1244px #fff, 2444px 1208px #fff, 1033px 2075px #fff,
    1708px 2058px #fff, 1185px 2341px #fff, 1329px 2522px #fff,
    2184px 1662px #fff, 2056px 720px #fff, 479px 190px #fff, 2222px 978px #fff,
    246px 900px #fff, 2081px 1558px #fff, 1563px 421px #fff, 386px 830px #fff,
    20px 1673px #fff, 990px 2477px #fff, 1744px 2440px #fff, 881px 792px #fff,
    2224px 1178px #fff, 1083px 1227px #fff, 1058px 874px #fff,
    1171px 2338px #fff, 70px 2384px #fff, 82px 541px #fff, 342px 2525px #fff,
    1005px 2158px #fff, 2041px 2031px #fff, 900px 2481px #fff,
    2448px 1742px #fff, 206px 2221px #fff, 1965px 1440px #fff, 1856px 174px #fff,
    2271px 2349px #fff, 1710px 1747px #fff, 1148px 1779px #fff,
    1448px 1508px #fff, 1335px 1971px #fff, 1608px 257px #fff, 1875px 215px #fff,
    1261px 2428px #fff, 151px 1777px #fff, 666px 2438px #fff, 915px 1206px #fff,
    2471px 875px #fff, 2513px 2531px #fff, 2501px 1708px #fff, 768px 2102px #fff,
    296px 352px #fff, 2184px 1560px #fff, 1566px 1845px #fff, 486px 458px #fff,
    506px 1267px #fff, 1416px 927px #fff, 1766px 2519px #fff, 1911px 1195px #fff,
    658px 1970px #fff, 1284px 1142px #fff, 834px 414px #fff, 593px 14px #fff,
    241px 791px #fff, 2167px 794px #fff, 1694px 2539px #fff, 790px 314px #fff,
    2115px 2253px #fff, 155px 2126px #fff, 1182px 370px #fff, 1394px 1423px #fff,
    1378px 1328px #fff, 797px 889px #fff, 501px 484px #fff, 2004px 1835px #fff,
    665px 1612px #fff, 1976px 1936px #fff, 796px 932px #fff, 265px 2191px #fff,
    410px 1948px #fff, 2135px 1329px #fff, 2478px 445px #fff, 1869px 997px #fff,
    433px 866px #fff, 368px 1384px #fff, 1607px 2295px #fff, 1133px 1052px #fff,
    1369px 516px #fff, 1523px 2471px #fff, 2537px 2534px #fff,
    1277px 2024px #fff, 187px 1228px #fff, 1000px 402px #fff, 2368px 1903px #fff,
    1803px 2142px #fff, 475px 1200px #fff, 2376px 2349px #fff, 1729px 125px #fff,
    1302px 177px #fff, 1753px 2073px #fff, 1570px 707px #fff, 1064px 742px #fff,
    316px 549px #fff, 520px 2099px #fff, 1382px 2091px #fff, 2157px 1186px #fff,
    2295px 1269px #fff, 306px 2262px #fff, 478px 717px #fff, 428px 2075px #fff,
    1834px 1898px #fff, 1362px 2148px #fff, 2397px 1831px #fff,
    1833px 2187px #fff, 926px 2387px #fff, 438px 248px #fff, 1530px 1470px #fff,
    746px 898px #fff, 960px 931px #fff, 613px 2425px #fff, 1613px 246px #fff,
    1357px 2157px #fff, 1619px 1087px #fff, 1425px 1875px #fff,
    1577px 1339px #fff, 500px 1074px #fff, 1143px 151px #fff, 666px 1379px #fff,
    864px 2390px #fff, 1768px 2436px #fff, 882px 1611px #fff, 1301px 348px #fff,
    1413px 1910px #fff, 731px 174px #fff, 1718px 2474px #fff, 423px 824px #fff,
    1271px 2034px #fff, 384px 428px #fff, 1928px 102px #fff, 1177px 509px #fff,
    680px 1893px #fff, 1251px 1753px #fff, 1823px 2105px #fff,
    2126px 2332px #fff, 2143px 788px #fff, 407px 1998px #fff, 156px 1325px #fff,
    24px 1998px #fff, 435px 881px #fff, 1410px 2387px #fff, 1637px 144px #fff,
    1334px 1404px #fff, 144px 2520px #fff, 2122px 1145px #fff, 530px 966px #fff,
    2527px 1212px #fff, 2356px 2414px #fff, 996px 1216px #fff,
    2553px 1846px #fff, 2279px 845px #fff, 2254px 1408px #fff,
    1955px 2382px #fff, 879px 1610px #fff, 1413px 1584px #fff, 606px 2219px #fff,
    1631px 1419px #fff, 337px 778px #fff, 1679px 1218px #fff, 2544px 1185px #fff,
    385px 108px #fff, 1098px 138px #fff, 587px 252px #fff, 559px 976px #fff,
    1629px 24px #fff, 2441px 1648px #fff, 1587px 1412px #fff, 359px 982px #fff,
    877px 1070px #fff, 1701px 2092px #fff, 288px 1816px #fff, 1542px 19px #fff,
    1526px 48px #fff, 909px 130px #fff, 2268px 2313px #fff, 1713px 781px #fff,
    2541px 2326px #fff, 2385px 2231px #fff, 1070px 1914px #fff,
    1442px 1715px #fff, 1678px 768px #fff, 2162px 1260px #fff,
    1332px 1173px #fff, 551px 408px #fff, 752px 1961px #fff, 765px 1670px #fff,
    2058px 1067px #fff, 1849px 1745px #fff, 261px 2445px #fff, 373px 1341px #fff,
    2206px 2141px #fff, 1399px 555px #fff, 2235px 2204px #fff, 1616px 251px #fff,
    1467px 1555px #fff, 2103px 2232px #fff, 121px 2388px #fff, 1882px 397px #fff,
    1762px 706px #fff, 875px 926px #fff, 2087px 768px #fff, 2335px 759px #fff,
    70px 1308px #fff, 416px 1371px #fff, 1808px 316px #fff, 1068px 40px #fff,
    19px 1154px #fff, 2088px 609px #fff, 524px 265px #fff, 2085px 34px #fff,
    245px 370px #fff, 1369px 1963px #fff, 2477px 108px #fff, 478px 2267px #fff,
    2214px 2103px #fff, 1640px 1396px #fff, 242px 442px #fff, 929px 730px #fff,
    2446px 180px #fff, 953px 2334px #fff, 1001px 2235px #fff, 2052px 1609px #fff,
    1178px 1438px #fff, 2143px 1967px #fff, 1392px 1880px #fff,
    1074px 1881px #fff, 1247px 692px #fff, 1663px 37px #fff, 1754px 2484px #fff,
    2370px 2194px #fff, 41px 317px #fff, 2460px 2290px #fff, 702px 825px #fff,
    127px 2176px #fff, 998px 1191px #fff, 2169px 1135px #fff, 1770px 2560px #fff,
    1453px 1560px #fff, 1735px 2284px #fff, 2545px 2156px #fff,
    2259px 1031px #fff, 124px 630px #fff, 168px 2218px #fff, 510px 1647px #fff,
    2514px 101px #fff, 2241px 1125px #fff, 925px 655px #fff, 1490px 1900px #fff,
    1162px 223px #fff, 1397px 2265px #fff, 1896px 1277px #fff,
    2438px 1926px #fff, 1449px 1188px #fff, 1434px 1753px #fff,
    1916px 933px #fff, 570px 1828px #fff, 175px 1885px #fff, 656px 616px #fff,
    503px 2084px #fff, 94px 1679px #fff, 2258px 1724px #fff, 362px 1391px #fff,
    925px 549px #fff, 2340px 230px #fff, 1905px 695px #fff, 1758px 1292px #fff,
    909px 307px #fff, 497px 154px #fff, 972px 2397px #fff, 108px 597px #fff,
    105px 1960px #fff, 344px 401px #fff, 180px 1813px #fff, 1986px 1538px #fff,
    774px 625px #fff, 2106px 2010px #fff, 1668px 1229px #fff, 2093px 1875px #fff,
    776px 2162px #fff, 1818px 247px #fff, 231px 1738px #fff, 2480px 24px #fff,
    867px 1172px #fff, 1294px 2250px #fff, 800px 1750px #fff, 954px 1958px #fff,
    1184px 1861px #fff, 1321px 1249px #fff, 171px 356px #fff, 333px 537px #fff,
    2526px 681px #fff, 37px 1194px #fff, 2049px 2267px #fff, 1253px 1738px #fff,
    895px 1067px #fff, 1034px 2156px #fff, 1095px 1347px #fff, 207px 1172px #fff,
    2185px 1981px #fff, 1322px 2124px #fff, 2518px 215px #fff, 1455px 886px #fff,
    2175px 1150px #fff, 1235px 292px #fff, 2302px 1583px #fff,
    1565px 1145px #fff, 2312px 728px #fff, 65px 928px #fff, 2357px 692px #fff,
    1831px 1643px #fff, 180px 248px #fff, 1473px 1217px #fff, 2192px 553px #fff,
    1279px 359px #fff, 838px 2094px #fff, 2441px 1546px #fff, 1368px 2225px #fff,
    890px 1740px #fff, 1656px 1821px #fff, 946px 274px #fff, 470px 1499px #fff,
    1568px 1616px #fff, 1360px 1307px #fff, 697px 358px #fff, 2549px 1018px #fff,
    733px 727px #fff, 896px 605px #fff, 773px 2004px #fff, 1561px 1373px #fff,
    463px 126px #fff, 1686px 266px #fff, 1368px 2487px #fff, 437px 60px #fff,
    1707px 806px #fff, 340px 2242px #fff, 174px 2177px #fff, 147px 215px #fff,
    1760px 1617px #fff, 1370px 1871px #fff, 1796px 1432px #fff, 52px 2178px #fff,
    481px 1773px #fff, 2504px 1253px #fff, 2416px 1738px #fff, 545px 414px #fff,
    432px 528px #fff, 718px 598px #fff, 1525px 1387px #fff, 2196px 802px #fff,
    950px 8px #fff, 402px 1686px #fff, 2116px 669px #fff, 1848px 2174px #fff,
    643px 714px #fff, 1843px 873px #fff, 2081px 1753px #fff, 1230px 2297px #fff,
    1640px 242px #fff, 1871px 2052px #fff, 1487px 1890px #fff,
    1151px 2422px #fff, 799px 562px #fff, 1389px 553px #fff, 1235px 2262px #fff,
    1616px 2000px #fff, 876px 16px #fff, 133px 2455px #fff, 570px 151px #fff,
    577px 23px #fff, 1901px 546px #fff, 1454px 1417px #fff, 106px 836px #fff,
    989px 1986px #fff, 1742px 39px #fff, 2018px 467px #fff;
  height: 1px;
  width: 1px;
}

.particle-1:after {
  box-shadow: 0px 0px #fff, 257px 388px #fff, 1202px 1898px #fff,
    1282px 839px #fff, 683px 1179px #fff, 10px 1662px #fff, 2237px 2373px #fff,
    1123px 2181px #fff, 386px 797px #fff, 1943px 1465px #fff, 1739px 729px #fff,
    941px 2512px #fff, 881px 1989px #fff, 2389px 753px #fff, 2520px 1842px #fff,
    628px 1660px #fff, 1321px 557px #fff, 2157px 492px #fff, 1194px 2466px #fff,
    340px 409px #fff, 1722px 974px #fff, 2009px 389px #fff, 874px 580px #fff,
    832px 2295px #fff, 1116px 1826px #fff, 1329px 285px #fff, 2150px 2284px #fff,
    772px 1917px #fff, 2437px 2315px #fff, 2247px 1632px #fff,
    1226px 1878px #fff, 1049px 2288px #fff, 1613px 926px #fff, 976px 1959px #fff,
    2244px 1784px #fff, 916px 1982px #fff, 655px 564px #fff, 287px 74px #fff,
    349px 786px #fff, 1044px 46px #fff, 2476px 1843px #fff, 109px 1828px #fff,
    6px 2523px #fff, 1086px 128px #fff, 104px 1739px #fff, 225px 2292px #fff,
    1095px 1069px #fff, 526px 1px #fff, 623px 2213px #fff, 2359px 581px #fff,
    160px 8px #fff, 2087px 1223px #fff, 1299px 1634px #fff, 2207px 2017px #fff,
    243px 724px #fff, 1482px 2054px #fff, 2410px 758px #fff, 1412px 2196px #fff,
    1431px 477px #fff, 1786px 2490px #fff, 489px 675px #fff, 1887px 2499px #fff,
    1502px 2221px #fff, 2480px 1410px #fff, 1423px 140px #fff, 2168px 128px #fff,
    1013px 1213px #fff, 1284px 1654px #fff, 1396px 1068px #fff, 440px 798px #fff,
    1455px 1325px #fff, 546px 2291px #fff, 99px 2137px #fff, 2066px 633px #fff,
    991px 1494px #fff, 1313px 1744px #fff, 1797px 1274px #fff,
    2288px 2410px #fff, 10px 1688px #fff, 503px 2350px #fff, 797px 1914px #fff,
    1798px 805px #fff, 1913px 2233px #fff, 2254px 731px #fff, 1018px 1034px #fff,
    763px 1797px #fff, 90px 413px #fff, 551px 1294px #fff, 2077px 2324px #fff,
    2539px 1116px #fff, 643px 2484px #fff, 1879px 1302px #fff, 452px 300px #fff,
    533px 255px #fff, 2107px 753px #fff, 233px 121px #fff, 2341px 191px #fff,
    2004px 522px #fff, 2358px 1471px #fff, 480px 721px #fff, 227px 883px #fff,
    480px 1607px #fff, 1823px 1327px #fff, 1283px 1455px #fff, 974px 1919px #fff,
    658px 236px #fff, 2452px 1805px #fff, 2486px 2178px #fff, 2444px 965px #fff,
    2237px 2163px #fff, 1116px 1934px #fff, 84px 265px #fff, 658px 438px #fff,
    1246px 1260px #fff, 1602px 560px #fff, 1359px 2432px #fff, 266px 295px #fff,
    2401px 2236px #fff, 56px 661px #fff, 1172px 2155px #fff, 66px 2512px #fff,
    58px 1457px #fff, 164px 490px #fff, 2222px 271px #fff, 439px 553px #fff,
    1391px 2060px #fff, 2041px 876px #fff, 1961px 771px #fff, 240px 2037px #fff,
    85px 1526px #fff, 1821px 2038px #fff, 363px 526px #fff, 1742px 790px #fff,
    281px 428px #fff, 245px 2136px #fff, 1998px 205px #fff, 876px 2301px #fff,
    1026px 205px #fff, 1189px 1340px #fff, 2232px 1993px #fff,
    2081px 2333px #fff, 261px 112px #fff, 1874px 742px #fff, 2411px 1566px #fff,
    1076px 1049px #fff, 1324px 1405px #fff, 16px 1280px #fff, 2419px 1566px #fff,
    1693px 2521px #fff, 1695px 1436px #fff, 1508px 1444px #fff,
    301px 2090px #fff, 743px 190px #fff, 797px 233px #fff, 1005px 544px #fff,
    646px 339px #fff, 739px 1380px #fff, 2006px 2356px #fff, 2276px 1965px #fff,
    424px 557px #fff, 2127px 1539px #fff, 2183px 278px #fff, 835px 528px #fff,
    1373px 2215px #fff, 574px 1587px #fff, 230px 53px #fff, 2147px 2499px #fff,
    2342px 933px #fff, 1837px 2353px #fff, 1805px 135px #fff, 2295px 1504px #fff,
    769px 1945px #fff, 512px 1653px #fff, 36px 2510px #fff, 1338px 927px #fff,
    2270px 666px #fff, 1743px 578px #fff, 190px 2327px #fff, 245px 856px #fff,
    1803px 1245px #fff, 813px 48px #fff, 433px 1575px #fff, 1733px 213px #fff,
    242px 2540px #fff, 2485px 561px #fff, 1906px 492px #fff, 1628px 641px #fff,
    2178px 2270px #fff, 2520px 2066px #fff, 566px 2471px #fff, 2330px 452px #fff,
    502px 1662px #fff, 2053px 2124px #fff, 1673px 887px #fff, 1865px 1541px #fff,
    763px 33px #fff, 1281px 423px #fff, 1026px 943px #fff, 969px 633px #fff,
    679px 78px #fff, 328px 407px #fff, 1934px 1754px #fff, 321px 594px #fff,
    1281px 1821px #fff, 87px 975px #fff, 658px 960px #fff, 506px 1635px #fff,
    1831px 1048px #fff, 2103px 163px #fff, 1203px 2304px #fff,
    1650px 1576px #fff, 2455px 1025px #fff, 622px 1536px #fff, 770px 44px #fff,
    1668px 1924px #fff, 2482px 1327px #fff, 131px 1261px #fff, 565px 2403px #fff,
    1924px 972px #fff, 1267px 1182px #fff, 1892px 856px #fff, 1967px 1464px #fff,
    284px 1953px #fff, 967px 52px #fff, 1928px 1383px #fff, 801px 1401px #fff,
    2224px 1092px #fff, 2176px 304px #fff, 1402px 229px #fff, 1725px 2497px #fff,
    1740px 627px #fff, 1060px 625px #fff, 1587px 1652px #fff, 2153px 2223px #fff,
    1841px 2040px #fff, 1501px 2529px #fff, 286px 1448px #fff,
    1353px 1331px #fff, 2295px 1189px #fff, 1497px 1043px #fff,
    1677px 1454px #fff, 1126px 2201px #fff, 684px 128px #fff, 1987px 1948px #fff,
    763px 575px #fff, 1357px 1917px #fff, 1061px 180px #fff, 1846px 623px #fff,
    2143px 277px #fff, 2083px 1001px #fff, 571px 504px #fff, 453px 239px #fff,
    1030px 1522px #fff, 2359px 2462px #fff, 1333px 1374px #fff,
    1568px 342px #fff, 871px 1502px #fff, 935px 278px #fff, 2546px 1681px #fff,
    1506px 1612px #fff, 1568px 2395px #fff, 288px 1121px #fff, 241px 1464px #fff,
    1887px 2274px #fff, 310px 397px #fff, 2166px 303px #fff, 807px 619px #fff,
    2026px 202px #fff, 2547px 1641px #fff, 2448px 1509px #fff, 481px 963px #fff,
    1762px 2147px #fff, 1444px 1943px #fff, 1661px 965px #fff, 792px 1509px #fff,
    2489px 658px #fff, 918px 1341px #fff, 1667px 543px #fff, 640px 492px #fff,
    1629px 2341px #fff, 1265px 2257px #fff, 1189px 1867px #fff,
    2352px 2213px #fff, 1908px 897px #fff, 687px 119px #fff, 1858px 161px #fff,
    1613px 1007px #fff, 2539px 1814px #fff, 595px 140px #fff, 1173px 1329px #fff,
    113px 1028px #fff, 1741px 1688px #fff, 730px 1599px #fff, 603px 765px #fff,
    851px 1927px #fff, 2547px 1045px #fff, 588px 2108px #fff, 114px 804px #fff,
    1526px 1561px #fff, 1346px 756px #fff, 2476px 2090px #fff,
    2469px 2462px #fff, 891px 688px #fff, 158px 2517px #fff, 1995px 1967px #fff,
    926px 1990px #fff, 1314px 1019px #fff, 246px 141px #fff, 1070px 1055px #fff,
    2486px 480px #fff, 1641px 508px #fff, 2196px 2080px #fff, 2519px 2392px #fff,
    2135px 381px #fff, 182px 759px #fff, 2321px 494px #fff, 629px 513px #fff,
    2147px 2481px #fff, 1716px 1599px #fff, 1104px 1871px #fff,
    375px 2096px #fff, 1819px 2411px #fff, 1128px 1905px #fff, 1153px 130px #fff,
    375px 546px #fff, 1555px 188px #fff, 589px 1052px #fff, 2387px 79px #fff,
    2213px 169px #fff, 1736px 1062px #fff, 980px 1482px #fff, 86px 948px #fff,
    1102px 844px #fff, 639px 355px #fff, 2388px 1710px #fff, 2531px 681px #fff,
    894px 1857px #fff, 458px 1834px #fff, 1134px 469px #fff, 106px 2360px #fff,
    137px 1677px #fff, 2004px 1179px #fff, 2378px 308px #fff, 464px 1047px #fff,
    559px 1821px #fff, 1664px 411px #fff, 574px 401px #fff, 379px 1244px #fff,
    977px 1868px #fff, 1384px 1083px #fff, 1194px 1262px #fff, 1657px 707px #fff,
    2045px 630px #fff, 1303px 288px #fff, 650px 715px #fff, 935px 2120px #fff,
    469px 678px #fff, 1463px 2220px #fff, 268px 840px #fff, 1944px 492px #fff,
    1882px 2233px #fff, 17px 1936px #fff, 2169px 454px #fff, 186px 262px #fff,
    991px 1218px #fff, 938px 239px #fff, 1662px 1576px #fff, 1842px 2199px #fff,
    604px 245px #fff, 487px 2267px #fff, 2549px 814px #fff, 2110px 1911px #fff,
    873px 1196px #fff, 2452px 1244px #fff, 205px 686px #fff, 395px 1069px #fff,
    1578px 920px #fff, 623px 2084px #fff, 1970px 841px #fff, 1459px 267px #fff,
    349px 2397px #fff, 2108px 1605px #fff, 2189px 1646px #fff,
    1290px 1183px #fff, 2086px 1809px #fff, 1466px 1632px #fff, 395px 918px #fff,
    1161px 1450px #fff, 1825px 485px #fff, 829px 36px #fff, 1906px 2182px #fff,
    1718px 527px #fff, 2197px 2451px #fff, 788px 1530px #fff, 1025px 1553px #fff,
    1361px 2184px #fff, 2485px 867px #fff, 942px 316px #fff, 1265px 2342px #fff,
    2364px 1668px #fff, 918px 923px #fff, 389px 2479px #fff, 2052px 512px #fff,
    1312px 1319px #fff, 940px 665px #fff, 1963px 308px #fff, 1119px 408px #fff,
    536px 540px #fff, 673px 689px #fff, 1294px 1206px #fff, 1842px 2139px #fff,
    564px 953px #fff, 1656px 2521px #fff, 1826px 1762px #fff, 1587px 383px #fff,
    1012px 1775px #fff, 410px 1636px #fff, 1315px 973px #fff, 1274px 262px #fff,
    2274px 773px #fff, 695px 840px #fff, 1055px 1356px #fff, 2392px 1454px #fff,
    2306px 60px #fff, 87px 763px #fff, 2552px 846px #fff, 1586px 847px #fff,
    2296px 1025px #fff, 1586px 1725px #fff, 319px 2161px #fff,
    1042px 2019px #fff, 1037px 936px #fff, 2068px 1366px #fff,
    2507px 2082px #fff, 406px 1911px #fff, 2493px 1884px #fff, 972px 2109px #fff,
    2455px 2126px #fff, 1969px 359px #fff, 2104px 2350px #fff, 113px 487px #fff,
    804px 1071px #fff, 175px 377px #fff, 374px 339px #fff, 281px 1097px #fff,
    1764px 527px #fff, 1130px 1564px #fff, 468px 1962px #fff, 2143px 111px #fff,
    2545px 2057px #fff, 1671px 2286px #fff, 2229px 475px #fff, 1309px 230px #fff,
    98px 2007px #fff, 795px 916px #fff, 700px 1764px #fff, 1115px 1146px #fff,
    1615px 2528px #fff, 2071px 2180px #fff, 1815px 713px #fff,
    2038px 2271px #fff, 2320px 169px #fff, 2014px 1381px #fff,
    1297px 1642px #fff, 271px 87px #fff, 1313px 2224px #fff, 2249px 1276px #fff,
    1821px 2169px #fff, 1831px 1336px #fff, 893px 1228px #fff,
    2188px 2028px #fff, 34px 993px #fff, 799px 1598px #fff, 1355px 433px #fff,
    2354px 2123px #fff, 228px 2492px #fff, 523px 1914px #fff, 679px 2254px #fff,
    1392px 2491px #fff, 1127px 566px #fff, 1689px 1558px #fff, 2293px 453px #fff,
    877px 1860px #fff, 809px 60px #fff, 1180px 2477px #fff, 1287px 543px #fff,
    1339px 2050px #fff, 263px 1656px #fff, 274px 1150px #fff, 1140px 836px #fff,
    2403px 2471px #fff, 1598px 1222px #fff, 1381px 2052px #fff,
    2081px 502px #fff, 1651px 2026px #fff, 91px 503px #fff, 1827px 169px #fff,
    1720px 1960px #fff, 17px 2307px #fff, 864px 1558px #fff, 176px 1640px #fff,
    1966px 1562px #fff, 495px 1425px #fff, 1239px 967px #fff, 1975px 2456px #fff,
    2481px 498px #fff, 317px 2075px #fff, 2536px 1991px #fff, 2429px 904px #fff,
    609px 1749px #fff, 753px 758px #fff, 1145px 1528px #fff, 149px 858px #fff,
    2162px 2044px #fff, 1233px 2031px #fff, 842px 1991px #fff, 577px 408px #fff,
    1350px 592px #fff, 464px 1329px #fff, 2502px 1778px #fff, 221px 408px #fff,
    464px 1966px #fff, 1774px 2198px #fff, 316px 587px #fff, 974px 845px #fff,
    243px 1512px #fff, 1615px 2160px #fff, 2218px 1270px #fff, 1747px 987px #fff,
    2244px 1429px #fff, 2534px 1065px #fff, 577px 15px #fff, 2067px 719px #fff,
    2415px 1844px #fff, 293px 2343px #fff, 1684px 1785px #fff, 1739px 540px #fff,
    1171px 2494px #fff, 418px 1371px #fff, 875px 1414px #fff, 278px 651px #fff,
    2266px 1128px #fff, 844px 740px #fff, 931px 621px #fff, 596px 584px #fff,
    1552px 1783px #fff, 376px 226px #fff, 384px 2254px #fff, 2471px 487px #fff,
    2534px 921px #fff, 343px 238px #fff, 566px 2147px #fff, 1883px 355px #fff,
    41px 293px #fff, 1732px 854px #fff, 1527px 485px #fff, 2280px 1850px #fff,
    175px 1278px #fff, 770px 1731px #fff, 1201px 2233px #fff, 32px 1021px #fff,
    1972px 1064px #fff, 706px 2116px #fff, 2323px 1098px #fff, 889px 1565px #fff,
    1637px 68px #fff, 2243px 1199px #fff, 2200px 2325px #fff, 527px 1269px #fff,
    1602px 186px #fff, 2519px 692px #fff, 1256px 498px #fff, 523px 606px #fff,
    183px 2343px #fff, 595px 2410px #fff, 1244px 1688px #fff, 538px 1440px #fff,
    2488px 808px #fff, 432px 2434px #fff, 1666px 2449px #fff, 1348px 437px #fff,
    2251px 1126px #fff, 217px 970px #fff, 389px 2475px #fff, 579px 231px #fff,
    591px 10px #fff, 1274px 1384px #fff, 2070px 1984px #fff, 1160px 1460px #fff,
    489px 1839px #fff, 1049px 1099px #fff, 485px 1510px #fff, 2076px 2216px #fff,
    1890px 344px #fff, 2368px 2470px #fff, 2325px 513px #fff, 175px 1815px #fff,
    2541px 2156px #fff, 349px 1789px #fff, 1351px 2107px #fff, 351px 855px #fff;
  height: 1px;
  width: 2px;
}

.particle-2 {
  -webkit-animation: animParticle 120s linear infinite;
  animation: animParticle 120s linear infinite;
  box-shadow: 0px 0px #fff, 627px 1227px #fff, 1428px 305px #fff,
    1777px 396px #fff, 586px 2204px #fff, 2522px 1800px #fff, 280px 1020px #fff,
    228px 533px #fff, 1588px 327px #fff, 258px 2408px #fff, 1975px 764px #fff,
    715px 1082px #fff, 698px 1597px #fff, 2261px 1725px #fff, 1272px 988px #fff,
    361px 585px #fff, 1087px 587px #fff, 418px 913px #fff, 947px 679px #fff,
    698px 1201px #fff, 755px 2125px #fff, 1337px 285px #fff, 2081px 1556px #fff,
    1713px 1055px #fff, 2458px 1980px #fff, 939px 1841px #fff, 2123px 585px #fff,
    2214px 2556px #fff, 527px 2540px #fff, 1920px 2150px #fff, 1924px 880px #fff,
    877px 2081px #fff, 1715px 486px #fff, 233px 1835px #fff, 1580px 296px #fff,
    2357px 1656px #fff, 1306px 765px #fff, 400px 618px #fff, 823px 1957px #fff,
    554px 11px #fff, 2418px 2486px #fff, 936px 587px #fff, 1221px 1897px #fff,
    1724px 2140px #fff, 425px 314px #fff, 1034px 1439px #fff, 627px 2094px #fff,
    1595px 2480px #fff, 292px 17px #fff, 1732px 2426px #fff, 2479px 989px #fff,
    417px 2181px #fff, 613px 1825px #fff, 2288px 537px #fff, 1272px 2548px #fff,
    2374px 2098px #fff, 968px 882px #fff, 971px 2069px #fff, 149px 1278px #fff,
    687px 2030px #fff, 288px 2420px #fff, 1263px 793px #fff, 2007px 1378px #fff,
    1914px 1174px #fff, 54px 384px #fff, 706px 1179px #fff, 2495px 2381px #fff,
    463px 931px #fff, 275px 1729px #fff, 807px 350px #fff, 1787px 2417px #fff,
    860px 2440px #fff, 451px 244px #fff, 2130px 365px #fff, 1062px 1467px #fff,
    1876px 923px #fff, 1175px 1183px #fff, 2099px 604px #fff, 1787px 2061px #fff,
    621px 1449px #fff, 430px 479px #fff, 509px 159px #fff, 383px 439px #fff,
    927px 771px #fff, 231px 1738px #fff, 839px 2412px #fff, 1571px 642px #fff,
    493px 206px #fff, 1644px 1021px #fff, 965px 151px #fff, 1309px 527px #fff,
    650px 82px #fff, 2494px 2365px #fff, 1570px 2499px #fff, 1389px 511px #fff,
    294px 141px #fff, 2230px 2117px #fff, 19px 47px #fff, 1747px 230px #fff,
    191px 138px #fff, 587px 675px #fff, 2523px 1239px #fff, 2250px 1438px #fff,
    2451px 1821px #fff, 1504px 36px #fff, 2499px 1821px #fff, 1440px 1655px #fff,
    658px 2471px #fff, 1077px 1265px #fff, 123px 2480px #fff, 1578px 2560px #fff,
    1432px 227px #fff, 2512px 2244px #fff, 685px 2359px #fff, 376px 1154px #fff,
    1526px 1248px #fff, 1844px 92px #fff, 2442px 1646px #fff, 139px 2399px #fff,
    2299px 2074px #fff, 651px 2372px #fff, 1919px 1873px #fff, 905px 283px #fff,
    818px 2111px #fff, 253px 2366px #fff, 1292px 1157px #fff, 1274px 142px #fff,
    2299px 1741px #fff, 1484px 730px #fff, 1601px 1491px #fff, 490px 816px #fff,
    1404px 2517px #fff, 1689px 2160px #fff, 417px 1775px #fff,
    1169px 1199px #fff, 1365px 805px #fff, 686px 865px #fff, 2494px 1011px #fff,
    1521px 2523px #fff, 576px 2223px #fff, 649px 955px #fff, 442px 88px #fff,
    1071px 2088px #fff, 1421px 884px #fff, 920px 445px #fff, 507px 2047px #fff,
    497px 241px #fff, 1263px 908px #fff, 2334px 283px #fff, 102px 1825px #fff,
    1438px 456px #fff, 565px 2234px #fff, 1033px 2442px #fff, 2038px 60px #fff,
    1882px 2185px #fff, 1105px 1085px #fff, 2530px 1790px #fff,
    989px 1593px #fff, 1903px 386px #fff, 101px 2080px #fff, 1875px 1153px #fff,
    660px 1874px #fff, 1135px 2140px #fff, 1411px 1388px #fff, 629px 599px #fff,
    1627px 1162px #fff, 2432px 1540px #fff, 427px 985px #fff, 195px 267px #fff,
    1238px 1953px #fff, 1657px 186px #fff, 618px 1020px #fff, 1997px 388px #fff,
    2511px 575px #fff, 2018px 1637px #fff, 650px 2170px #fff, 2309px 254px #fff,
    2538px 2254px #fff, 2131px 645px #fff, 78px 1759px #fff, 484px 217px #fff,
    445px 1238px #fff, 859px 1999px #fff, 2035px 2365px #fff, 77px 1369px #fff,
    1979px 2212px #fff, 1127px 244px #fff, 1761px 1773px #fff, 727px 2365px #fff,
    325px 2228px #fff, 831px 803px #fff, 996px 1769px #fff, 2170px 766px #fff,
    1916px 928px #fff, 2049px 1814px #fff, 540px 977px #fff, 460px 381px #fff,
    1185px 1973px #fff, 718px 2173px #fff, 70px 1334px #fff, 1400px 857px #fff;
  height: 2px;
  width: 2px;
}

.particle-2:after {
  box-shadow: 0px 0px #fff, 1388px 1099px #fff, 229px 658px #fff,
    2212px 968px #fff, 1047px 394px #fff, 1796px 2037px #fff, 2385px 1861px #fff,
    509px 1716px #fff, 1812px 1210px #fff, 2253px 1015px #fff,
    2306px 1202px #fff, 2343px 2394px #fff, 1871px 1498px #fff,
    1722px 735px #fff, 1986px 2558px #fff, 1638px 1581px #fff, 2302px 798px #fff,
    902px 930px #fff, 482px 1348px #fff, 2183px 1937px #fff, 307px 2250px #fff,
    1340px 362px #fff, 722px 1108px #fff, 2376px 2019px #fff, 252px 646px #fff,
    781px 922px #fff, 2187px 1519px #fff, 1345px 532px #fff, 2377px 2356px #fff,
    940px 2420px #fff, 195px 2317px #fff, 683px 2006px #fff, 2223px 2354px #fff,
    1029px 873px #fff, 644px 1785px #fff, 585px 1702px #fff, 2461px 2439px #fff,
    2517px 2541px #fff, 751px 1743px #fff, 709px 2096px #fff, 1777px 2331px #fff,
    970px 1652px #fff, 2259px 1256px #fff, 1227px 1355px #fff, 221px 596px #fff,
    558px 118px #fff, 725px 1356px #fff, 542px 1050px #fff, 2432px 1200px #fff,
    996px 1365px #fff, 10px 2206px #fff, 295px 2349px #fff, 246px 739px #fff,
    1837px 634px #fff, 2042px 1733px #fff, 619px 306px #fff, 1975px 1693px #fff,
    1808px 391px #fff, 1865px 1991px #fff, 2310px 959px #fff, 346px 1690px #fff,
    2104px 2079px #fff, 286px 1657px #fff, 2498px 228px #fff, 1298px 1536px #fff,
    983px 1579px #fff, 1170px 598px #fff, 1399px 2325px #fff, 2347px 1542px #fff,
    588px 1323px #fff, 1086px 404px #fff, 782px 2145px #fff, 321px 1307px #fff,
    698px 1325px #fff, 1542px 66px #fff, 2055px 2295px #fff, 451px 1818px #fff,
    1024px 410px #fff, 2009px 636px #fff, 1692px 329px #fff, 254px 62px #fff,
    1498px 487px #fff, 82px 1593px #fff, 1683px 1225px #fff, 1615px 433px #fff,
    2067px 47px #fff, 315px 639px #fff, 2543px 2448px #fff, 696px 2174px #fff,
    9px 2320px #fff, 2000px 1357px #fff, 726px 613px #fff, 599px 752px #fff,
    2468px 2255px #fff, 1380px 2285px #fff, 2507px 2490px #fff,
    647px 1898px #fff, 2090px 1393px #fff, 2308px 576px #fff, 1458px 1017px #fff,
    1713px 2253px #fff, 184px 1840px #fff, 1482px 2376px #fff, 693px 2321px #fff,
    1579px 1787px #fff, 975px 2034px #fff, 545px 928px #fff, 2211px 1715px #fff,
    1527px 220px #fff, 1203px 2353px #fff, 1187px 1135px #fff,
    2190px 1210px #fff, 1194px 1518px #fff, 661px 1019px #fff, 738px 1304px #fff,
    1308px 1830px #fff, 1865px 497px #fff, 1082px 1782px #fff, 754px 975px #fff,
    898px 1720px #fff, 2362px 1835px #fff, 363px 2082px #fff, 370px 883px #fff,
    888px 892px #fff, 262px 1966px #fff, 1753px 1010px #fff, 1324px 1432px #fff,
    1146px 315px #fff, 984px 2105px #fff, 2206px 2426px #fff, 1028px 2142px #fff,
    2354px 1216px #fff, 949px 462px #fff, 1162px 1183px #fff, 918px 2416px #fff,
    1599px 2129px #fff, 156px 175px #fff, 1432px 2496px #fff, 2234px 23px #fff,
    2560px 296px #fff, 776px 576px #fff, 1074px 2413px #fff, 1017px 1221px #fff,
    914px 1773px #fff, 370px 369px #fff, 2015px 1801px #fff, 1759px 1663px #fff,
    395px 2458px #fff, 1244px 1430px #fff, 2160px 2122px #fff, 831px 649px #fff,
    1818px 834px #fff, 279px 1125px #fff, 388px 1673px #fff, 2490px 1907px #fff,
    1383px 1083px #fff, 1398px 2034px #fff, 2010px 635px #fff,
    2210px 2542px #fff, 2430px 2344px #fff, 2545px 523px #fff, 2042px 983px #fff,
    1901px 2462px #fff, 1097px 791px #fff, 1045px 1757px #fff, 968px 2328px #fff,
    952px 1346px #fff, 1924px 2461px #fff, 2554px 660px #fff, 138px 2111px #fff,
    455px 622px #fff, 1029px 2012px #fff, 1982px 768px #fff, 2181px 1711px #fff,
    2318px 842px #fff, 2439px 1010px #fff, 952px 980px #fff, 1199px 726px #fff,
    111px 2410px #fff, 499px 1400px #fff, 2014px 1694px #fff, 193px 2317px #fff,
    1303px 116px #fff, 2084px 27px #fff, 1747px 206px #fff, 2329px 2311px #fff,
    1481px 1099px #fff, 818px 1612px #fff, 530px 2499px #fff, 1266px 2212px #fff,
    1975px 2204px #fff, 1568px 2552px #fff, 503px 1388px #fff,
    1735px 2429px #fff, 396px 1674px #fff, 1798px 637px #fff, 2054px 91px #fff,
    24px 1789px #fff, 2058px 2148px #fff, 1910px 250px #fff, 1451px 515px #fff;
  height: 5px;
  width: 5px;
}

.particle-3 {
  -webkit-animation: animParticle 180s linear infinite;
  animation: animParticle 180s linear infinite;
  box-shadow: 0px 0px #fff, 2072px 664px #fff, 1074px 2403px #fff,
    1040px 784px #fff, 939px 1890px #fff, 1160px 2102px #fff, 615px 194px #fff,
    822px 978px #fff, 953px 2458px #fff, 393px 1150px #fff, 1064px 2432px #fff,
    1698px 732px #fff, 2522px 2371px #fff, 2449px 2528px #fff, 695px 2198px #fff,
    743px 597px #fff, 1836px 2062px #fff, 2487px 364px #fff, 1221px 1127px #fff,
    681px 2200px #fff, 1158px 497px #fff, 1391px 965px #fff, 623px 1413px #fff,
    457px 60px #fff, 1570px 411px #fff, 353px 110px #fff, 2360px 2141px #fff,
    896px 1580px #fff, 2098px 2250px #fff, 2252px 1677px #fff,
    1068px 1641px #fff, 2484px 1593px #fff, 11px 2051px #fff, 526px 1633px #fff,
    381px 468px #fff, 1518px 1835px #fff, 827px 920px #fff, 1926px 1914px #fff,
    1777px 372px #fff, 18px 749px #fff, 964px 1547px #fff, 2227px 1722px #fff,
    1391px 142px #fff, 955px 2463px #fff, 219px 1631px #fff, 318px 1902px #fff,
    374px 866px #fff, 793px 69px #fff, 1223px 159px #fff, 159px 1392px #fff,
    2422px 2209px #fff, 1299px 1624px #fff, 1879px 653px #fff,
    1300px 1281px #fff, 2445px 1157px #fff, 1463px 22px #fff, 1385px 447px #fff,
    1835px 2323px #fff, 1654px 1096px #fff, 2305px 54px #fff, 1808px 2262px #fff,
    1159px 2078px #fff, 1185px 770px #fff, 1507px 2268px #fff, 768px 1721px #fff,
    1473px 2235px #fff, 340px 563px #fff, 1704px 1591px #fff, 1782px 304px #fff,
    549px 307px #fff, 2069px 1067px #fff, 67px 1549px #fff, 297px 202px #fff,
    315px 1810px #fff, 2211px 2203px #fff, 1957px 874px #fff, 2040px 64px #fff,
    1112px 2454px #fff, 411px 1436px #fff, 360px 434px #fff, 1623px 2241px #fff,
    307px 2444px #fff, 100px 1866px #fff, 1312px 1085px #fff, 1438px 850px #fff,
    2536px 2382px #fff, 1456px 2326px #fff, 2493px 63px #fff, 1106px 2472px #fff,
    582px 2046px #fff, 1961px 1676px #fff, 1712px 621px #fff, 444px 2091px #fff,
    152px 877px #fff, 1336px 843px #fff, 1946px 1808px #fff, 1138px 1652px #fff,
    1090px 751px #fff, 887px 2219px #fff, 1754px 545px #fff, 2043px 1842px #fff;
  height: 3px;
  width: 3px;
}

.particle-3:after {
  box-shadow: 0px 0px #fff, 1480px 1978px #fff, 1099px 356px #fff,
    2505px 2069px #fff, 1258px 2535px #fff, 1408px 189px #fff,
    1465px 1963px #fff, 410px 1847px #fff, 1258px 2460px #fff, 1065px 218px #fff,
    889px 1818px #fff, 2445px 1631px #fff, 1753px 2343px #fff,
    1841px 1277px #fff, 421px 273px #fff, 609px 1541px #fff, 953px 1640px #fff,
    1877px 818px #fff, 137px 372px #fff, 1191px 1083px #fff, 1614px 699px #fff,
    855px 2469px #fff, 1505px 2056px #fff, 297px 2278px #fff, 748px 1928px #fff,
    338px 1279px #fff, 87px 684px #fff, 1769px 856px #fff, 50px 876px #fff,
    1265px 601px #fff, 1240px 1651px #fff, 718px 605px #fff, 945px 2557px #fff,
    1043px 1264px #fff, 632px 2248px #fff, 1052px 2102px #fff, 720px 621px #fff,
    1572px 2416px #fff, 938px 2047px #fff, 1534px 1440px #fff,
    1911px 1347px #fff, 1016px 1941px #fff, 883px 868px #fff, 2023px 756px #fff,
    1425px 2218px #fff, 123px 1962px #fff, 1177px 2011px #fff, 847px 2315px #fff,
    2002px 1730px #fff, 1738px 1692px #fff, 172px 120px #fff, 910px 99px #fff,
    2544px 297px #fff, 1292px 1780px #fff, 54px 1739px #fff, 826px 1749px #fff,
    1535px 1864px #fff, 1129px 1018px #fff, 359px 994px #fff, 1826px 489px #fff,
    1078px 2375px #fff, 2531px 2332px #fff, 947px 164px #fff, 733px 1197px #fff,
    1317px 565px #fff, 1575px 1000px #fff, 2044px 1518px #fff, 342px 1548px #fff,
    1244px 1496px #fff, 584px 2270px #fff, 920px 2161px #fff, 2527px 2273px #fff,
    318px 2080px #fff, 2320px 1506px #fff, 1358px 2174px #fff, 543px 2489px #fff,
    669px 1128px #fff, 2003px 2049px #fff, 1099px 2358px #fff, 2482px 619px #fff,
    531px 114px #fff, 2443px 127px #fff, 2045px 365px #fff, 1108px 1583px #fff,
    653px 1209px #fff, 1953px 285px #fff, 1130px 1622px #fff, 652px 594px #fff,
    2515px 1045px #fff, 351px 1438px #fff, 1666px 1022px #fff, 255px 740px #fff,
    878px 377px #fff, 334px 812px #fff, 478px 383px #fff, 2381px 1108px #fff,
    1772px 616px #fff, 1079px 1228px #fff, 1646px 2045px #fff,
    1148px 2311px #fff, 2512px 1309px #fff;
  height: 3px;
  width: 3px;
}

.particle-4 {
  -webkit-animation: animParticle 600s linear infinite;
  animation: animParticle 600s linear infinite;
  box-shadow: 0px 0px #fff, 2220px 1139px #fff, 2035px 2557px #fff,
    630px 2526px #fff, 961px 1449px #fff, 378px 787px #fff, 528px 389px #fff,
    2542px 617px #fff, 596px 1252px #fff, 1973px 2159px #fff, 692px 1426px #fff,
    1194px 1907px #fff, 778px 576px #fff, 2036px 207px #fff, 695px 894px #fff,
    892px 207px #fff, 2277px 2264px #fff, 633px 899px #fff, 167px 675px #fff,
    1743px 155px #fff, 1937px 2307px #fff, 489px 155px #fff, 2126px 1623px #fff,
    878px 2050px #fff, 1469px 1822px #fff, 2085px 2203px #fff, 2337px 227px #fff,
    945px 74px #fff, 2268px 2353px #fff, 1999px 1108px #fff, 1454px 657px #fff,
    682px 1129px #fff, 1268px 1062px #fff, 2204px 1925px #fff, 386px 1536px #fff,
    2543px 1707px #fff, 784px 718px #fff, 1313px 1991px #fff, 1562px 1520px #fff,
    598px 262px #fff, 1018px 992px #fff, 1155px 548px #fff, 2394px 1177px #fff,
    1585px 2001px #fff, 2421px 2016px #fff, 458px 1424px #fff, 5px 621px #fff,
    1972px 1958px #fff, 856px 763px #fff, 1968px 1667px #fff, 1764px 332px #fff,
    2427px 1854px #fff, 1690px 735px #fff, 507px 1223px #fff, 1191px 1233px #fff,
    2154px 820px #fff, 1012px 2325px #fff, 236px 772px #fff, 2085px 1857px #fff,
    1896px 1326px #fff, 2557px 1338px #fff, 668px 2257px #fff, 1114px 192px #fff,
    572px 790px #fff, 739px 1439px #fff, 2556px 670px #fff, 172px 1380px #fff,
    2499px 2345px #fff, 2092px 1355px #fff, 1170px 716px #fff, 355px 386px #fff,
    2358px 130px #fff, 1486px 1553px #fff, 2403px 634px #fff, 1827px 1445px #fff,
    1869px 404px #fff, 1952px 306px #fff, 615px 565px #fff, 1341px 2328px #fff,
    1030px 1318px #fff, 643px 1739px #fff, 1361px 2430px #fff, 942px 2510px #fff,
    496px 2381px #fff, 282px 1398px #fff, 968px 889px #fff, 109px 1407px #fff,
    2275px 321px #fff, 1469px 1789px #fff, 2260px 378px #fff, 2287px 2220px #fff,
    1496px 11px #fff, 779px 60px #fff, 11px 1871px #fff, 1960px 1976px #fff,
    300px 263px #fff, 2188px 2049px #fff, 1094px 1558px #fff, 1842px 1941px #fff,
    821px 933px #fff, 1368px 321px #fff, 1058px 863px #fff, 132px 279px #fff,
    1303px 1256px #fff, 1471px 1501px #fff, 2360px 317px #fff, 948px 1040px #fff,
    364px 2131px #fff, 394px 1806px #fff, 1863px 837px #fff, 694px 59px #fff,
    288px 1505px #fff, 2466px 1983px #fff, 969px 2235px #fff, 2238px 1427px #fff,
    1082px 910px #fff, 199px 2287px #fff, 1101px 2377px #fff, 921px 2046px #fff,
    2135px 2503px #fff, 797px 782px #fff, 657px 263px #fff, 1941px 2522px #fff,
    682px 717px #fff, 2194px 352px #fff, 1815px 1659px #fff, 369px 1518px #fff,
    1266px 2075px #fff, 1382px 2138px #fff, 784px 1204px #fff, 93px 1296px #fff,
    2532px 1951px #fff, 652px 1905px #fff, 415px 2097px #fff, 1709px 852px #fff,
    1680px 1021px #fff, 564px 1194px #fff, 1165px 849px #fff, 356px 1793px #fff,
    869px 849px #fff, 1441px 2201px #fff, 1288px 2157px #fff, 1176px 507px #fff,
    1411px 54px #fff, 1476px 2027px #fff, 2217px 2417px #fff, 939px 1564px #fff,
    2166px 1070px #fff, 1398px 520px #fff, 257px 625px #fff, 2375px 1362px #fff,
    606px 373px #fff, 1598px 664px #fff, 1650px 1865px #fff, 854px 1481px #fff,
    753px 1211px #fff, 17px 2421px #fff, 387px 339px #fff, 1211px 373px #fff,
    1078px 362px #fff, 1299px 2223px #fff, 1189px 1645px #fff, 2398px 53px #fff,
    1139px 1859px #fff, 1617px 2156px #fff, 1486px 332px #fff, 1538px 134px #fff,
    1762px 1317px #fff, 34px 1837px #fff, 2514px 319px #fff, 923px 2212px #fff,
    109px 2521px #fff, 599px 1664px #fff, 1551px 272px #fff, 261px 1923px #fff,
    1846px 221px #fff, 1938px 1516px #fff, 2154px 486px #fff, 2398px 491px #fff,
    2398px 2002px #fff, 712px 497px #fff, 445px 1053px #fff, 1096px 1003px #fff,
    1340px 419px #fff, 2152px 2158px #fff, 250px 425px #fff, 1492px 336px #fff,
    84px 1900px #fff, 2321px 554px #fff, 1963px 2385px #fff, 1980px 72px #fff,
    475px 1742px #fff, 2471px 2155px #fff, 2336px 2279px #fff, 725px 1773px #fff,
    2309px 601px #fff, 1215px 1066px #fff, 2234px 2377px #fff, 816px 1802px #fff,
    1316px 1494px #fff, 1273px 414px #fff, 1040px 690px #fff, 2465px 2422px #fff,
    2487px 167px #fff, 33px 199px #fff, 1186px 571px #fff, 271px 668px #fff,
    2524px 1234px #fff, 2371px 990px #fff, 2004px 2501px #fff, 1705px 992px #fff,
    2101px 1547px #fff, 244px 1443px #fff, 1194px 740px #fff, 2507px 2301px #fff,
    845px 2513px #fff, 2345px 2551px #fff, 28px 2266px #fff, 665px 2539px #fff,
    423px 210px #fff, 2098px 1098px #fff, 1625px 123px #fff, 2417px 1929px #fff,
    362px 381px #fff, 1627px 2106px #fff, 419px 71px #fff, 2013px 1836px #fff,
    697px 450px #fff, 398px 840px #fff, 2260px 244px #fff, 1736px 847px #fff,
    34px 463px #fff, 1524px 418px #fff, 1749px 2016px #fff, 1999px 634px #fff,
    2030px 2214px #fff, 532px 603px #fff, 2045px 612px #fff, 2277px 1547px #fff,
    1647px 769px #fff, 846px 1896px #fff, 1514px 1346px #fff, 2183px 1085px #fff,
    758px 581px #fff, 957px 1952px #fff, 333px 1929px #fff, 1767px 398px #fff,
    200px 180px #fff, 1773px 848px #fff, 1768px 411px #fff, 2228px 605px #fff,
    2211px 308px #fff, 1768px 216px #fff, 1072px 93px #fff, 48px 2233px #fff,
    297px 2222px #fff, 630px 347px #fff, 1744px 1925px #fff, 1952px 84px #fff,
    236px 333px #fff, 570px 1030px #fff, 2012px 1196px #fff, 1238px 1720px #fff,
    405px 1102px #fff, 1951px 77px #fff, 1676px 2212px #fff, 2458px 195px #fff,
    447px 673px #fff, 1432px 1798px #fff, 236px 1844px #fff, 1039px 1794px #fff,
    2526px 2372px #fff, 238px 292px #fff, 1734px 218px #fff, 2539px 1035px #fff,
    1733px 794px #fff, 1655px 1106px #fff, 160px 309px #fff, 1275px 620px #fff,
    349px 2011px #fff, 2496px 2448px #fff, 1201px 1700px #fff, 636px 2505px #fff,
    641px 1570px #fff, 18px 2106px #fff, 2495px 1832px #fff, 2235px 1904px #fff,
    329px 1392px #fff, 734px 791px #fff, 756px 2367px #fff, 569px 38px #fff,
    412px 2504px #fff, 554px 1673px #fff, 315px 205px #fff, 1836px 2172px #fff,
    1513px 2159px #fff, 79px 516px #fff, 2070px 1315px #fff, 185px 2134px #fff,
    2523px 1873px #fff, 358px 1545px #fff, 727px 1413px #fff, 2242px 586px #fff,
    2035px 606px #fff, 1338px 100px #fff, 2394px 2251px #fff, 645px 336px #fff,
    674px 231px #fff, 2425px 813px #fff, 560px 1827px #fff, 2365px 2054px #fff,
    1100px 2510px #fff, 2340px 1465px #fff, 1946px 1673px #fff, 464px 780px #fff,
    1289px 518px #fff, 219px 1741px #fff, 1534px 1373px #fff, 2556px 1507px #fff,
    1808px 1114px #fff, 2389px 1840px #fff, 482px 1182px #fff,
    2142px 2132px #fff, 1731px 800px #fff, 2374px 178px #fff, 2507px 2068px #fff,
    1355px 922px #fff, 378px 1816px #fff, 635px 812px #fff, 978px 1076px #fff,
    1416px 699px #fff, 1313px 1644px #fff, 169px 728px #fff, 1946px 540px #fff,
    741px 1816px #fff, 352px 2269px #fff, 255px 575px #fff, 1256px 2130px #fff,
    562px 1014px #fff, 409px 328px #fff, 176px 2492px #fff, 856px 933px #fff,
    1175px 98px #fff, 1619px 72px #fff, 336px 1019px #fff, 1498px 1007px #fff,
    1679px 2499px #fff, 1565px 1806px #fff, 363px 1138px #fff,
    1948px 1974px #fff, 287px 1873px #fff, 2077px 409px #fff, 1976px 2126px #fff,
    1048px 1363px #fff, 1524px 358px #fff, 2262px 387px #fff, 1378px 2246px #fff,
    2200px 248px #fff, 960px 1764px #fff, 696px 1327px #fff, 1010px 2300px #fff,
    703px 1283px #fff, 1460px 495px #fff, 457px 961px #fff, 901px 511px #fff,
    751px 2061px #fff, 773px 1411px #fff, 1377px 2497px #fff, 1063px 1612px #fff,
    1839px 1960px #fff, 734px 2195px #fff, 219px 1841px #fff, 423px 1894px #fff,
    1850px 162px #fff, 321px 1401px #fff, 1593px 426px #fff, 449px 1197px #fff,
    299px 1701px #fff, 1753px 838px #fff, 1862px 832px #fff, 2062px 2060px #fff,
    1370px 1224px #fff, 908px 966px #fff, 746px 2272px #fff, 1986px 1124px #fff,
    2273px 1689px #fff, 2388px 253px #fff, 1505px 2315px #fff, 4px 2538px #fff,
    1117px 2036px #fff, 24px 985px #fff, 1723px 1822px #fff, 1401px 1326px #fff,
    190px 1675px #fff, 199px 1523px #fff, 1884px 283px #fff, 1795px 624px #fff,
    932px 2256px #fff, 2028px 147px #fff, 1450px 32px #fff, 2028px 1299px #fff;
  height: 1px;
  width: 1px;
}

.particle-4:after {
  box-shadow: 0px 0px #fff, 1267px 1436px #fff, 1116px 1289px #fff,
    649px 1537px #fff, 2029px 2061px #fff, 1491px 166px #fff, 2446px 1196px #fff,
    106px 57px #fff, 1593px 1172px #fff, 458px 162px #fff, 750px 1144px #fff,
    2045px 2047px #fff, 433px 1887px #fff, 1934px 2403px #fff, 1263px 506px #fff,
    812px 846px #fff, 2366px 984px #fff, 808px 1429px #fff, 447px 171px #fff,
    800px 941px #fff, 2317px 111px #fff, 2331px 733px #fff, 1241px 821px #fff,
    1464px 1819px #fff, 1790px 129px #fff, 2478px 1695px #fff,
    1920px 2226px #fff, 216px 746px #fff, 738px 867px #fff, 522px 1838px #fff,
    350px 1825px #fff, 364px 595px #fff, 921px 1042px #fff, 2233px 2322px #fff,
    1646px 1893px #fff, 1397px 1953px #fff, 193px 44px #fff, 2331px 2361px #fff,
    495px 1530px #fff, 2226px 1606px #fff, 1254px 1871px #fff, 745px 2083px #fff,
    723px 122px #fff, 402px 642px #fff, 1253px 300px #fff, 1798px 430px #fff,
    1942px 2258px #fff, 1604px 699px #fff, 2078px 152px #fff, 1410px 1151px #fff,
    1916px 2000px #fff, 735px 2415px #fff, 1112px 842px #fff, 2125px 252px #fff,
    1730px 648px #fff, 104px 2033px #fff, 1111px 2411px #fff, 635px 1502px #fff,
    279px 1894px #fff, 556px 2223px #fff, 1287px 1464px #fff, 584px 567px #fff,
    1422px 267px #fff, 631px 2127px #fff, 2529px 409px #fff, 1933px 1131px #fff,
    2269px 568px #fff, 713px 2127px #fff, 1530px 1866px #fff, 223px 1815px #fff,
    347px 1844px #fff, 366px 2035px #fff, 205px 240px #fff, 61px 2067px #fff,
    1047px 948px #fff, 65px 1358px #fff, 1969px 1231px #fff, 2188px 1485px #fff,
    1524px 2505px #fff, 215px 2458px #fff, 231px 1139px #fff, 1129px 1481px #fff,
    2387px 2304px #fff, 766px 2451px #fff, 2109px 760px #fff, 86px 487px #fff,
    1352px 1924px #fff, 2525px 2232px #fff, 2169px 104px #fff, 155px 2176px #fff,
    1678px 883px #fff, 506px 1355px #fff, 890px 1085px #fff, 1989px 1830px #fff,
    2262px 318px #fff, 571px 2381px #fff, 930px 936px #fff, 1618px 2269px #fff,
    649px 1128px #fff, 309px 1938px #fff, 2137px 1937px #fff, 1535px 122px #fff,
    843px 1161px #fff, 1281px 1926px #fff, 2298px 470px #fff, 2241px 895px #fff,
    1902px 1551px #fff, 1943px 32px #fff, 128px 1778px #fff, 1978px 2431px #fff,
    2372px 1733px #fff, 636px 253px #fff, 2471px 662px #fff, 2130px 1198px #fff,
    1957px 1017px #fff, 1226px 1049px #fff, 1282px 1090px #fff, 194px 288px #fff,
    946px 2017px #fff, 1949px 981px #fff, 66px 138px #fff, 1294px 91px #fff,
    1423px 2385px #fff, 1657px 1615px #fff, 1657px 743px #fff,
    2132px 2129px #fff, 605px 78px #fff, 1111px 1577px #fff, 532px 784px #fff,
    1289px 36px #fff, 1749px 969px #fff, 467px 999px #fff, 1089px 1716px #fff,
    226px 161px #fff, 950px 1233px #fff, 2557px 662px #fff, 987px 1621px #fff,
    1956px 1104px #fff, 958px 1580px #fff, 1239px 2341px #fff, 904px 2120px #fff,
    1764px 767px #fff, 2491px 565px #fff, 1153px 484px #fff, 1715px 927px #fff,
    628px 2317px #fff, 754px 1258px #fff, 941px 768px #fff, 2302px 1168px #fff,
    1934px 1321px #fff, 1943px 119px #fff, 1946px 291px #fff, 1103px 1878px #fff,
    1731px 2377px #fff, 1079px 1341px #fff, 2531px 1008px #fff,
    1385px 1237px #fff, 2338px 1989px #fff, 2342px 2338px #fff, 305px 707px #fff,
    2009px 2407px #fff, 880px 2555px #fff, 2115px 1328px #fff, 1646px 32px #fff,
    788px 2241px #fff, 1527px 1301px #fff, 583px 437px #fff, 1317px 1671px #fff,
    777px 1186px #fff, 476px 812px #fff, 1653px 860px #fff, 2028px 2403px #fff,
    2545px 1103px #fff, 2545px 1644px #fff, 2298px 1708px #fff,
    1770px 2516px #fff, 1992px 1683px #fff, 214px 1669px #fff, 718px 2153px #fff,
    2523px 1806px #fff, 92px 692px #fff, 517px 303px #fff, 98px 1163px #fff,
    2006px 1140px #fff, 1587px 2467px #fff, 237px 1212px #fff,
    1239px 2282px #fff, 1038px 617px #fff, 1716px 647px #fff, 987px 650px #fff,
    2529px 357px #fff, 978px 2538px #fff, 2224px 1995px #fff, 804px 2186px #fff,
    1138px 1842px #fff, 869px 2291px #fff, 1959px 419px #fff, 2332px 479px #fff,
    1602px 1708px #fff, 1730px 1944px #fff, 641px 685px #fff, 115px 1298px #fff,
    1426px 564px #fff, 679px 2360px #fff, 529px 1479px #fff, 2520px 2356px #fff,
    1156px 2042px #fff, 1522px 561px #fff, 1622px 2042px #fff, 575px 1864px #fff,
    1945px 472px #fff, 672px 2553px #fff, 1611px 22px #fff, 1978px 545px #fff,
    2549px 1309px #fff, 43px 1671px #fff, 2253px 570px #fff, 114px 967px #fff,
    1527px 1553px #fff, 1989px 389px #fff, 712px 2511px #fff, 174px 411px #fff,
    447px 1617px #fff, 169px 754px #fff, 383px 2068px #fff, 2177px 2361px #fff,
    1720px 2041px #fff, 2379px 465px #fff, 1060px 974px #fff, 318px 2514px #fff,
    1125px 250px #fff, 357px 1026px #fff, 370px 2363px #fff, 2431px 1345px #fff,
    569px 480px #fff, 2392px 419px #fff, 1020px 1740px #fff, 1090px 2311px #fff,
    861px 1856px #fff, 2198px 2495px #fff, 2515px 1587px #fff,
    1853px 2241px #fff, 1386px 1987px #fff, 1441px 1093px #fff,
    1407px 1798px #fff, 1557px 1431px #fff, 327px 370px #fff, 537px 1503px #fff,
    402px 378px #fff, 599px 2154px #fff, 2175px 1931px #fff, 1874px 7px #fff,
    1252px 369px #fff, 1692px 1102px #fff, 475px 2336px #fff, 1456px 1460px #fff,
    1689px 74px #fff, 712px 15px #fff, 1297px 1626px #fff, 127px 1260px #fff,
    2304px 1537px #fff, 1713px 1769px #fff, 729px 1571px #fff,
    2039px 2260px #fff, 581px 171px #fff, 1110px 2271px #fff, 1700px 979px #fff,
    112px 1649px #fff, 2237px 1644px #fff, 537px 1066px #fff, 981px 1010px #fff,
    438px 1518px #fff, 1269px 1551px #fff, 2100px 1879px #fff, 330px 1794px #fff,
    1407px 677px #fff, 2428px 460px #fff, 2265px 875px #fff, 704px 1779px #fff,
    1127px 530px #fff, 1056px 1995px #fff, 1612px 922px #fff, 761px 741px #fff,
    553px 2179px #fff, 1285px 374px #fff, 560px 1735px #fff, 1048px 307px #fff,
    183px 672px #fff, 401px 2123px #fff, 706px 387px #fff, 618px 70px #fff,
    694px 1080px #fff, 2084px 1822px #fff, 1056px 2430px #fff, 284px 2231px #fff,
    846px 1907px #fff, 2525px 2153px #fff, 1716px 1345px #fff, 606px 1357px #fff,
    2414px 1686px #fff, 886px 1479px #fff, 1391px 272px #fff, 2411px 2509px #fff,
    1483px 1450px #fff, 1148px 481px #fff, 2558px 1590px #fff, 1977px 898px #fff,
    878px 1426px #fff, 866px 808px #fff, 449px 865px #fff, 1906px 2296px #fff,
    1710px 998px #fff, 1193px 250px #fff, 2037px 2099px #fff, 205px 266px #fff,
    86px 313px #fff, 354px 1232px #fff, 2462px 2292px #fff, 2425px 575px #fff,
    1028px 1612px #fff, 895px 2533px #fff, 1783px 1086px #fff,
    1330px 2190px #fff, 25px 210px #fff, 225px 1553px #fff, 2337px 708px #fff,
    2178px 1473px #fff, 629px 491px #fff, 1268px 1515px #fff, 70px 2244px #fff,
    309px 1470px #fff, 2002px 115px #fff, 842px 1170px #fff, 666px 847px #fff,
    1001px 689px #fff, 2166px 383px #fff, 1317px 1702px #fff, 1600px 2319px #fff,
    1758px 424px #fff, 2287px 227px #fff, 1981px 74px #fff, 1927px 1804px #fff,
    2225px 541px #fff, 2024px 1991px #fff, 1892px 644px #fff, 2088px 247px #fff,
    1501px 774px #fff, 1549px 148px #fff, 1352px 1455px #fff, 2028px 355px #fff,
    2516px 400px #fff, 2211px 2428px #fff, 614px 2180px #fff, 2027px 17px #fff,
    914px 222px #fff, 703px 1645px #fff, 929px 760px #fff, 997px 2559px #fff,
    1401px 1022px #fff, 1960px 1235px #fff, 835px 1625px #fff,
    2428px 2176px #fff, 335px 1674px #fff, 586px 1623px #fff, 1938px 143px #fff,
    1592px 2049px #fff, 2356px 204px #fff, 160px 241px #fff, 218px 1293px #fff,
    1217px 1032px #fff, 1569px 2041px #fff, 110px 683px #fff, 300px 1635px #fff,
    489px 2140px #fff, 568px 865px #fff, 1041px 2434px #fff, 2406px 773px #fff,
    947px 2168px #fff, 81px 451px #fff, 2146px 2364px #fff, 2220px 1962px #fff,
    1473px 1383px #fff, 1631px 2220px #fff, 2120px 1087px #fff,
    1129px 2323px #fff, 1161px 2187px #fff, 1934px 934px #fff, 1840px 351px #fff,
    931px 1077px #fff, 488px 2057px #fff, 228px 2030px #fff, 277px 1047px #fff,
    671px 1424px #fff, 2460px 140px #fff, 668px 895px #fff, 22px 1354px #fff,
    2278px 1024px #fff, 1170px 1855px #fff, 658px 1649px #fff, 1182px 733px #fff,
    2458px 1999px #fff;
  height: 1px;
  width: 1px;
}

@-webkit-keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}

@media screen and (max-width:500px) {
  .page-bg,
  .animation-wrapper {
    height: 100%;
  }
}