@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
/* .style-1 {
    background-image: linear-gradient(to left,rgba(49,207,171,0.5), #50e3c2);
    border-radius: 100%;
    display: inline;
    height: 150px;
    left: 100px;
    position: relative;
    top: 60px;
    width: 150px;
}
.style-2 {
    background: linear-gradient(to right, #1595b6, rgba(31,38,103,0.9));
    height: 240px;
    left: 50%;
    position: absolute;
    top: 70px;
    width: 240px;
    z-index: -1;
} */
header {
    align-items: center;
    display: flex;
    height: 600px;
    justify-content: center;
    max-width: 100%;
}
.input-cont {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -3px 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    overflow: hidden;
    width: 350px;
}
h2 {
    display: inline;
    position: relative;
    right: 110px;
}
p {
    margin-left: 20px;
    width: 90%;
    text-align: left;
}
input {
    border: solid 1px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    height: 20px;
    margin: 10px;
    padding: 10px;
    width: 80%;
}
input:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
button {
    border-radius: 50px;
    background-image: linear-gradient(to bottom left, rgba(133, 244, 255, 0.4), rgba(133, 244, 255, 1));
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 5px;
    width: 50%;
}
button:hover {
    background-color: rgba(100, 180, 216, 1);
}