* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

body, input {
	color: #171717;
	padding: 0px;
	margin: 0px;
}

body {
	background: #f1f1f1;
	height: 100vh;
}
.container{
    background-image: url(https://vignette.wikia.nocookie.net/powerlisting/images/e/e1/Void_Magic.jpg/revision/latest?cb=20141202043525);
	background-repeat: no-repeat;
	background-size:cover;

}
/* .input {
	background: transparent;
	border: 0;
	font-size: 30px;
	color: rgb(0, 0, 0);
  } */
/* .suggestions {
	border-top: 2px solid #999;
  } */
/* .suggestions > div {
	padding: 15px;
	font-size: 20px;
	color: rgb(255, 0, 0);
	border-top: 1px solid #666;
	cursor: pointer;
  } */
  .suggestions > div:hover {
	background-color: #1e4dd4;
	border-radius: 50px;
	color: white;
  }
