*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
width: 100%;
height: auto;
min-height: 100vh;
font-family: sans-serif;
color: white;
}
#preloader{
    background: #000 url(https://i.pinimg.com/originals/85/e2/4b/85e24bd18e3658cd321688b4c34cc576.gif) no-repeat center center;
    background-size:30%;
    height:100%;
    width:100%;
    position:fixed;
    z-index: 100;
  
  }
  .sylla {
    font-size: 45px;
    font-weight: 800;
    padding-left: 40px;
    margin-top: 7px;
    color: white;
}
.sylla .text-red-600{
  color: #dc2626;
}
.subscript{
  display: inline-block;
  font-size: 30px;
  line-height: 3rem;
}
.text-center{
  text-align: center;
  margin-top: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pdfrender{
  max-width: 750px;
  max-height: 750px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 10px white;
  border: 5px solid white;
  margin-bottom: 15px;
}
hr{
  color: white;
  margin: 15px auto 30px;
  width: 90%;
}img{
  border-radius: 9999px;

}
@media (max-width:700px){
  #pdfrender{
    width: 500px;
    height: 630px;
  }
  .text-center{
    font-size: 12px;
  }
  .sylla {
    font-size: 35px;
  }
  .subscript{
    font-size: 20px;
    line-height: 1.5rem;
  }
}
@media (max-width:530px){
  #pdfrender{
    width: 360px;
    height: 530px;
  }
  .sylla {
    text-align: center;
    padding-left: 0;
    margin-bottom: 5px;
  }
}

footer{
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  font-family: sans-serif;
}
footer .row{
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}
footer .col{
  flex-basis: 33%;
  padding: 10px;
}
footer .col h3{
  color: white;
  width: fit-content;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  margin-top: -6px;
  margin-bottom: 40px;
}
footer .colr:nth-child(2){
  flex-basis: 15%;
}
footer .email{
  width: fit-content;
  border-bottom: 1px solid white;
  margin: 5px 0;
}
footer form{
  display: flex;
  padding-bottom: 13px;
  align-items: center;
  border-bottom: 1px solid rgb(218, 98, 98);
  justify-content: space-between;
}
footer form .fa-envelope{
  font-size: 17px;
  margin-right: 10px;
}
footer form input{
  width: 100%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}
footer form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
footer form button .fa-arrow-right{
  font-size: 15px;
  color: white;
}
footer .social{
  margin-top: 30px;
}
footer .social .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #485461;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
@media (max-width:700px){
  footer{
      bottom: unset;
  }
  footer .social{
      margin-top: 20px;
  }
  footer .social .fa-brands{
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      margin-right: 5px;
      margin-top: 3px;
  }
  footer .colr:nth-child(2), .colr:nth-child(3){
      flex-basis: 100%;
  }
  footer .col{
      flex-basis: 100%;
  }
}
footer hr{
  width: 100%;
  border: 0;
  margin: 30px auto;
  border-bottom: 1px solid white;
}
.end{
  text-align: center;
  font-family: cursive;
}
.end i{
  color: red;
  font-size: 20px;

}
.underline{
  width: 100%;
  background: #485461;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10px;
  background: white;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}
footer h1{
  margin-bottom: 20px;
}
footer .detail{
  max-width: 360px;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.header button{
  display: inline-block;
  background:#b2b209;
  border-radius: 5px;
  box-shadow: 2px 10px 22px rgba(236, 227, 233, 0.15);
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
.header button:hover{
  background-color: #ef5734;
background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
  font-weight: 700;
  border: 2px solid red;
}
.home-nav{
  color:rgb(253, 251, 251);
  font-size: 20px;
  padding-right: 5px;
}